<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- include: "type": "css", "files": ["<%= app.styles %>", "<%= app.testStyles %>"] -->
    <link href="../lib/styles/guide.css" rel="stylesheet" type="text/css">
    <link href="../test/styles/main.css" rel="stylesheet" type="text/css">
    <!-- /include -->

</head>
<body>

    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/easystarjs/bin/easystar-0.3.0.min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/phaser/build/phaser.js"></script>
    <script src="../bower_components/phaser-isometric/dist/phaser-plugin-isometric.js"></script>
    <script src="../bower_components/webfontloader/webfontloader.js"></script>
    <script src="../bower_components/array_functions/dist/funk.js"></script>
    <!-- endbower -->

    <!--
        by default, I load in the scripts from the lib folder. If you have downloaded the package, then including it
        like /path/to/isometric-features/dist/isometric-features.js will suffice.
    -->

    <!-- include: "type": "js", "files": ["<%= app.scripts %>"] -->
    <script src="../lib/physics/Bounds.js"></script>
    <script src="../lib/physics/Tiles.js"></script>
    <script src="../lib/tools/Debug.js"></script>
    <script src="../lib/tools/Globals.js"></script>
    <script src="../lib/tools/Mouse.js"></script>
    <script src="../lib/tools/System.js"></script>
    <script src="../lib/world/Animal.js"></script>
    <script src="../lib/world/Item.js"></script>
    <script src="../lib/world/Map.js"></script>
    <script src="../lib/world/menu/ContextMenu.js"></script>
    <script src="../lib/world/menu/Guide.js"></script>
    <script src="../lib/world/menu/Inventory.js"></script>
    <script src="../lib/world/menu/Message.js"></script>
    <script src="../lib/world/Player.js"></script>
    <script src="../test/scripts/angular.js"></script>
    <script src="../test/scripts/items/candy.js"></script>
    <script src="../test/scripts/items/dust.js"></script>
    <script src="../test/scripts/items/lemon.js"></script>
    <script src="../test/scripts/items/lint.js"></script>
    <script src="../test/scripts/items/ninboy.js"></script>
    <script src="../test/scripts/items/scanner.js"></script>
    <script src="../test/scripts/loader.js"></script>
    <script src="../test/scripts/root.js"></script>
    <!-- /include -->

    <!-- creates an instance of the game -->
    <div ng-app="game">
        <game></game>
    </div>

    <!-- This is the text that goes into the guide menu. -->
    <div id="guide">
        <h3>isometric-features!</h3>
        This game toolkit is robust, with many available features and integrations. Make sure to check the
        <a href="https://apizzimenti.github.io/isometric-features-docs/" target="_blank">documentation</a> out.

        <h4>Movement</h4>
        The main character is moved around by the arrow keys: &larr;, &uarr;, &rarr;, and &darr;.

        <h4>Items</h4>
        Items aren't critical and definitely don't have to be in your game, but they are a good addition to any. Building
        a working inventory for any game is tough, let alone building it so that your items can interact in a 3d world.
        The <code>Inventory</code> class allows for a fully-functional fillable inventory with custom items. Provided
        (as part of the toolkit) is an <code>Item</code> class that can be extended.

        <h4>Importance</h4>
        This game system is important for those that want to create highly interactive games with the Phaser platform,
        but want the isometric library to be a part of their system.
    </div>

</body>
</html>