<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- include: "type": "css", "files": ["<%= app.styles %>", "<%= app.testStyles %>"] -->
    <link href="../lib/styles/guide.css" rel="stylesheet" type="text/css">
    <link href="../test/styles/main.css" rel="stylesheet" type="text/css">
    <!-- /include -->
</head>
<body>

    <!-- bower:js -->
    <script src="../bower_components/phaser/build/phaser.js"></script>
    <script src="../bower_components/phaser-isometric/dist/phaser-plugin-isometric.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/easystarjs/bin/easystar-0.3.0.min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->

    <!-- include: "type": "js", "files": ["<%= app.scripts %>"] -->
    <script src="../dist/isometric-features.js"></script>
    <script src="../test/scripts/angular.js"></script>
    <script src="../test/scripts/items/candy.js"></script>
    <script src="../test/scripts/items/dust.js"></script>
    <script src="../test/scripts/items/lemon.js"></script>
    <script src="../test/scripts/items/lint.js"></script>
    <script src="../test/scripts/items/ninboy.js"></script>
    <script src="../test/scripts/items/scanner.js"></script>
    <script src="../test/scripts/loader.js"></script>
    <script src="../test/scripts/root.js"></script>
    <!-- /include -->

    <div ng-app="game">
        <game></game>
    </div>

    <div id="guide"><h1>nothing?</h1></div>

</body>
</html>